# Python compile files
__pycache__/
*.pyc
*.pyo
*.pyd

# IDEs and editors
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp

# Operating System files
Thumbs.db
ehthumbs.db
Desktop.ini
.DS_Store

# PDF Files
*.pdf
*.png
*.py